extends layout.pug

block scripts
  script(src="../js/signin.js" defer) 

block content
  h1(class="pure-u-1") Admin Login
  form#form(action="admin", method="post", class="pure-form pure-form-stacked pure-u-1") 
    label(for="email") 
      input#email(type="email", name="email", placeholder="email")
    label(for="password") 
      input#password(type="password", name="password", placeholder="password")
    button(type="submit", class="pure-button pure-u") Submit